.title{
  text-align: center;
  margin-bottom: 40px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro{
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  margin-top: 30px;
  border: 1px solid black;
}
.text_slider{
  text-align: center;
  margin-top: 30px;
}
p{
  text-align: center;
  margin-bottom : 20px;
}

/* div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
} */

/* #slider2{
  background: #AABBFF;
  border: 1px solid #8899EE;
} */
